name: Selenium Tests with Selenoid

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      selenoid:
        image: aerokube/selenoid:latest-release
        privileged: true
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - ./config/selenoid:/etc/selenoid/
          - ./videos:/opt/selenoid/video/
        ports:
          - 4444:4444
        options: >-
          --shm-size=2g

    steps:
      - uses: actions/checkout@v3

      - name: Set up Java 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Make video folder
        run: mkdir -p videos

      - name: Run tests
        run: mvn clean test

      - name: Upload Selenoid Videos
        uses: actions/upload-artifact@v3
        with:
          name: test-videos
          path: videos
